.Chips {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid var(--color-gray-200);
  border-radius: var(--border-r1);
  border: var(--input-border);
  background-color: var(--N25);
  min-height: 36px;
  gap: var(--size-1);
  padding: 3px;

  &:focus-within {
    outline: none;
    border: var(--activ-border);
  }
}

.Chip {
  display: flex;
  align-items: center;
  background-color: var(--N100);
  color: var(--body);
  border-radius: 0.375rem;
  padding: 0.1rem 0.1rem 0.1rem 0.2rem;
  overflow: hidden;
  gap: 0.25rem;
  outline: 0;
  cursor: default;
  height: 20px;

  &:focus-within {
    background-color: var(--P75);
  }

  @media (hover: hover) {
    &[data-highlighted] {
      background-color: var(--P75);
    }
  }
}

.InputGroup {
  flex: 1;
}

.Input {
  flex: 1 0 3rem;
  box-sizing: border-box;
  margin: 0;
  border: none;
  background-color: transparent;
  color: var(--body);
  min-width: 3rem;
  min-width: 0;
  width: 100%;

  &:focus {
    outline: none;
  }
}

.Positioner {
  outline: 0;
  z-index: 50;
}

.Popup {
  box-sizing: border-box;
  border-radius: var(--border-r2);
  border: var(--basic-border);
  padding: var(--size-1);
  background-color: var(--background);
  color: var(--color-gray-900);
  width: var(--anchor-width);
  max-width: var(--available-width);
  max-height: min(var(--available-height), 24rem);
  overflow-y: auto;
  scroll-padding-block: 0.5rem;
  overscroll-behavior: contain;
  transition:
    opacity 0.1s,
    transform 0.1s;
  transform-origin: var(--transform-origin);
  box-shadow: var(--editor-shadow);

  &[data-starting-style],
  &[data-ending-style] {
    opacity: 0;
    transform: scale(0.95);
  }
}

.Item {
  display: flex;
  position: relative;
  padding: var(--size-2);
  padding-left: 2rem;
  align-items: center;
  height: 31px;
  outline: 0;
  -webkit-user-select: none;
  user-select: none;

  &[data-selected] {
    z-index: 0;
    position: relative;
    background-color: var(--P300);
    color: var(--background);
  }

  &[data-selected]::before,
  &[data-highlighted]::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset-block: 0;
    inset-inline: 0;
  }

  @media (hover: hover) {
    &[data-highlighted]:not([data-selected]) {
      z-index: 0;
      position: relative;
      color: var(--body);
    }

    &[data-highlighted]:not([data-selected])::before {
      background-color: var(--P50);
    }
  }
}

.ItemIndicator {
  display: flex;
  position: absolute;
  left: 0.5rem;
  justify-content: center;
  align-items: center;
  width: 0.875rem;
  height: 0.875rem;
}

.ItemText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Empty:not(:empty) {
  box-sizing: border-box;
  line-height: 1rem;
  color: var(--color-gray-600);
  padding: var(--size-2);
}
